:root {
    --left-blue: 66, 167, 255;
    --right-blue: 0, 47, 255;
    --header-height: 8vh;
    --footer-height: 2vh;
    --linear-gradient-full-visible: linear-gradient(90deg,
                                    rgba(var(--left-blue), 0.5) 0%,
                                    rgba(var(--right-blue)) 100%);
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.background-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: var(--header-height);
    background: linear-gradient(90deg,
                 rgba(var(--left-blue), 0.5) 0%,
                 rgba(var(--right-blue)) 100%);
    z-index: 10;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.4);
}

.background-object {
    filter: drop-shadow(-10px -5px 8px rgba(0, 0, 0, 0.5));
}

.background-object-polygon {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(var(--left-blue),0.6) 0%, rgba(var(--right-blue),0.36) 100%);
    background-blend-mode: normal;
    clip-path: polygon(0 calc(100vh - var(--footer-height)), 0 100%, 100% 100%, 100% var(--header-height));
}

.background-footer {
    position: absolute;
    top: calc(100vh - var(--footer-height));
    width: 100%;
    height: var(--footer-height);
    background: black;
    z-index: 10;
}

.background-header-logo {
    position: absolute;
    left: 1vw;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: calc(var(--header-height) - 2vh);
}