.result-div {
    width: 100%;
    min-height: 100%;
    padding: 1vh 1vw;
}

.result-div p {
    font-size: 1.5rem;
}

.result {
    display: flex;
    flex-direction: row;
}

.result p {
    margin-right: 1rem;
}

