.dot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto 0.5rem;
  }
  
.dot {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: linear-gradient(360deg,
                rgba(var(--left-blue), 0.5) 0%,
                rgba(var(--right-blue)) 100%);
    animation: jump 1.2s ease-in-out infinite;
    margin: 0 5px;
}

.dot-container p {
    background: linear-gradient(360deg,
                rgba(var(--left-blue), 0.5) 0%,
                rgba(var(--right-blue)) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
}
  
.dot:nth-child(2) {
    animation-delay: 0.4s;
}

.dot:nth-child(3) {
    animation-delay: 0.8s;
}

@keyframes jump {
    0%, 80%, 100% {
        transform: translateY(10px);
    }
    40% {
        transform: translateY(-10px);
    }
}